.link-auth {
  margin-left: 50px;
  display: flex;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
  border-bottom: 1px solid #ececec;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}
