.list-button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.list-work {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.item-work {
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
}

.section-desk {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.item-work a {
  text-decoration: none;
}

.link-desk {
  display: block;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.img-work {
  position: relative;
  overflow: hidden;
}

.section-portfolio {
  padding-top: 94px;
}
